// @import "bourbon/bourbon";

$color-azul: #083A78;
// $color-orange: #FF5522;
$color-orange: #F37133;
$color-white: #FFF;
$color-melon: #ffceb2;
$color-black: #525252;
$color-gray: #888A8C;
$color-light-gray: #E2E2E2;
$color-blue: #919BB8;
$font-open-sans: 'Open Sans', sans-serif;
$font-vim: 'VimSM', sans-serif;
$font-nimbus: 'nimbus-sans-condensed', sans-serif;

@font-face {
  font-family: 'VimSMOblique';
  src: url('../fonts/vimsm-oblique-webfont.eot');
  src: url('../fonts/vimsm-oblique-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/vimsm-oblique-webfont.woff') format("woff"), url('../fonts/vimsm-oblique-webfont.ttf') format("truetype"), url('../fonts/vimsm-oblique-webfont.svg#vim_smheavy-oblique') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VimSM';
  src: url('../fonts/vimsm-webfont.eot');
  src: url('../fonts/vimsm-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/vimsm-webfont.woff') format("woff"), url('../fonts/vimsm-webfont.ttf') format("truetype"), url('../fonts/vimsm-webfont.svg#vim_smheavy') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fb-tw';
  src: url('../fonts/fb-tw.eot');
  src: url('../fonts/fb-tw.eot?#iefix') format("embedded-opentype"), url('../fonts/fb-tw.woff') format("woff"), url('../fonts/fb-tw.ttf') format("truetype"), url('../fonts/fb-tw.svg#fb-tw') format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'fb-tw';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e600";
}

.icon-facebook:before {
  content: "\e601";
}

.icon-twitter-blanco:before {
  content: "\e600";
}

.icon-facebook-blanco:before {
  content: "\e601";
}

.icon-twitter, .icon-facebook {
  color: $color-orange;
  font-size: 1.5em;
  line-height: 60px;
}

.icon-twitter-blanco, .icon-facebook-blanco {
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 60px;
}

html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 !important;
}

.orange {
    color: $color-orange;
}

.blue {
    color: $color-blue;
}

.gray {
    color: $color-gray;
}

.row {
    max-width: 100% !important;
}

.left-section {
    min-height: 100%;
    padding: 2rem 0;
}

#home,
#home-mobile {
    // background-image: -webkit-gradient(
    //     linear,
    //     left bottom,
    //     left top,
    //     color-stop(0, #949494),
    //     color-stop(0.3, #F7F7F7)
    // );
    // background-image: -o-linear-gradient(top, #949494 0%, #F7F7F7 30%);
    // background-image: -moz-linear-gradient(top, #949494 0%, #F7F7F7 30%);
    // background-image: -webkit-linear-gradient(top, #949494 0%, #F7F7F7 30%);
    // background-image: -ms-linear-gradient(top, #949494 0%, #F7F7F7 30%);
    // background-image: linear-gradient(to top, #949494 0%, #F7F7F7 30%);

    background: #EE2E2B url("../img/fondo.png") repeat-x; 

    p {
        font-family: $font-vim;
        line-height: 1.2;
    }
    .orange {
        color: white;
        font-size: 2.5rem;
    }

    .blue {
        color: white;
        font-size: 2.8rem;
    }

    img {
        width: 10rem;
    }

    .car {
        width: 92%;
    }
}

#right-section {
    // background: url("../img/fondo.png");
    background: -webkit-linear-gradient(to top, #fff, $color-light-gray,#fff); 
    background: -moz-linear-gradient(to top, #fff, $color-light-gray,#fff); 
    background: linear-gradient(to top, #fff, $color-light-gray, #fff);  
    // background: url("../img/white_carbonfiber.png") repeat;
    background-size: 100% 100%;
    height: 100%;
    padding-top: 4rem;
    -webkit-box-shadow: -1px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 0px 20px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    right: 0;
    
    .button {
        // background-image: -webkit-gradient(
        //     linear,
        //     left bottom,
        //     left top,
        //     color-stop(0, #B8B8B8),
        //     color-stop(0.3, #F5F5F5)
        // );
        // background-image: -o-linear-gradient(top, #B8B8B8 0%, #F5F5F5 30%);
        // background-image: -moz-linear-gradient(top, #B8B8B8 0%, #F5F5F5 30%);
        // background-image: -webkit-linear-gradient(top, #B8B8B8 0%, #F5F5F5 30%);
        // background-image: -ms-linear-gradient(top, #B8B8B8 0%, #F5F5F5 30%);
        // background-image: linear-gradient(to top, #B8B8B8 0%, #F5F5F5 30%);
        
        background: -webkit-linear-gradient(to top, $color-orange, lighten($color-orange, 7%));
        background: -moz-linear-gradient(to top, $color-orange, lighten($color-orange, 7%));
        background: linear-gradient(to top, $color-orange, lighten($color-orange, 7%));

        color: white;
        font-family: $font-nimbus;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 8px;
        border: 1px solid #E3E3E3;
        margin-bottom: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .row {
        max-width: none !important;
    }

    ul {
        list-style: url("../img/right-arrow.png");
        li {
            a {
                color: $color-gray;
                font-family: $font-nimbus;
                font-size: 1.5rem;
                font-weight: 700;
            }
            padding-bottom: 1rem;
        }

        margin-bottom: 10rem;
    }

    .overlay {
        background: url("../img/textura.png") repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

#formas-participar {
    border-bottom: 1px solid $color-light-gray;
    h2 {
        font-family: $font-vim;
        font-size: 2rem;
    }

    p {
        font-family: $font-nimbus;
        font-size: 1.2rem;
    }

    h3 {
        font-family: $font-nimbus;
        font-weight: 700;
        font-size: 2rem;
        border-bottom: 2px solid $color-orange;
    }

    .label-gray {
        line-height: 56px;
        display: inline-block;
        font-size: 1.05rem;
    }

    img {
        height: 50px;
    }

    #head {
        margin-bottom: 3rem;
    }

    #flecha {
        height: 18px;
        margin: 1.2rem auto;
    }
}

#acerca-de {
    border-bottom: 1px solid $color-light-gray;

    #head, #car-timeline {
        margin-bottom: 3rem;
    }

    h2 {
        font-family: $font-vim;
        font-size: 2rem;
    }

    p {
        font-family: $font-vim;
        font-size: 1.5rem;

        span {
            font-size: 1.3rem;
        }
    }

    .left-text {
        font-family: $font-nimbus;
        font-weight: 700;
        padding: 1rem 0;
    }

    #hexagon {
        background: url("../img/hex-background.png") no-repeat;
        background-size: 60%;
        background-position: 40% 60%;
    }

    .hex-text {
        font-family: $font-nimbus;
        line-height: 1.2;
        height: 272px;
        padding: 6rem 0 0;
        width: 10rem;
        margin: 0 auto !important;
        font-size: 1.2rem;
        font-weight: 700;
    }

    h3 {
        font-family: $font-nimbus;
        font-weight: 700;
        font-size: 1.7rem;
        border-bottom: 2px solid $color-orange;
        + p {
            font-family: $font-nimbus;
            font-size: 1rem;
        }
    }

    #info-right {
        background: url("../img/separador.png") repeat-y;
        padding-left: 3rem;
    }
}

#ganadores {
    #info-winners {
        background: url("../img/separador.png") repeat-y;
        padding-left: 3rem;
        padding-top: 5rem;
    }

    h2 {
        font-family: $font-vim;
        font-size: 2rem;
    }

    p {
        font-family: $font-nimbus;
        font-size: 1.5rem;
        

        span {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    p.vim {
        font-family: $font-vim;
        font-size: 1.5rem;
        font-weight: normal;
        span {
            font-size: 2rem;
            font-weight: normal;
        }
    }


}

#footer {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    a {
        color: $color-white;
        line-height: 60px;
        font-size: 1.2rem;
        font-family: $font-nimbus;
        text-transform: uppercase;
        font-weight: 700;
        span {
            font-size: 1.5rem;
        }
    }
}
.reveal-modal .close-reveal-modal {
    color: $color-orange;
}
#buy {
    padding: 3rem;

    h2 {
        font-family: $font-nimbus;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }
    
    p {
        font-family: $font-nimbus;
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem !important;
        font-weight: bold;
    }

    form {
      input[type="text"] {
        background: #eee !important;
        border: none;
        border-bottom: 4px solid #ccc;
        color: $color-orange;
        font-family: $font-nimbus;
        font-size: 1.1em;
        font-weight: 300;
        height: 50px;
        box-shadow: none;
        &:focus {
          background: #eee;
          box-shadow: none;
          border-bottom: 4px solid #FF8762;
        }
      }

      .button {
        font-family: $font-nimbus;
        height: 50px !important;
        border-bottom: 4px solid #e73200;
        margin-bottom: 0;
      }
    }
}

#terms{
    font-family: $font-nimbus;
    height: 70%;
    overflow: scroll;
    left: 60%;
    width: 60%;

    h4{
        font-family: $font-nimbus;
    }

    h3{
        font-family: $font-nimbus;
    }
}

#contacto{
    left: 60%;
    width: 60%;

    .close-reveal-modal {
        font-size: 1.6rem;
    }
}

#chat{
    position: fixed;
    right: 0px;
    top: 53%;
    display: none;
    background: #ebecee; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NCUiIHN0b3AtY29sb3I9IiNlYmVjZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzVjN2M5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #ebecee 64%, #c5c7c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(64%,#ebecee), color-stop(100%,#c5c7c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ebecee 64%,#c5c7c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ebecee 64%,#c5c7c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ebecee 64%,#c5c7c9 100%); /* IE10+ */
    background: linear-gradient(to right,  #ebecee 64%,#c5c7c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecee', endColorstr='#c5c7c9',GradientType=1 ); /* IE6-8 */
    box-shadow: 0px 0px 12px -4px #000;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #e3e3e3;
    a{

        width: 60px;
        height: 140px;
        z-index: 100;
        text-overflow: inherit;
        padding: 26px 11px 25px 11px;
        display: block;
        background-image: url(../img/chat-icon.png);
        background-repeat: no-repeat;
        background-position: 12px 20px;
    }
}

#right-mobile-nav{
    // position: fixed;
}

.right-off-canvas-menu{
    background: url(../img/fondo.png) no-repeat #EE2E2B;
}

.tab-bar{
    background: #F4892B;
}

ul.off-canvas-list li a{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

ul.off-canvas-list li a:hover{
    background: #ee2e2b;
}

.right-small {
    border-left: solid 1px #fff;
}

@media only screen and (max-width: 40em) {
    .row{
        max-width: none !important;
    }
    
    #home-mobile {
        
        position: relative;
        z-index: 20;

        .orange {
            color: $color-orange;
            font-size: 1.5rem;
        }

        .blue {
            color: $color-azul;
            font-size: 1.8rem;
        }

        .padding-top-bottom {
            padding: 1rem 0;
        }

    }

    #right-mobile-nav {

        .small-12.columns{
            padding: 1.5rem;
        }

    }

    #terms {
        width: inherit;
        left: inherit;
    }

    #contacto {
        width: 100%;
        left: inherit;
    }

    #chat{
        display: none !important;
    }

    #top-button {
        position: fixed;
        bottom: 10px;
        padding: 20px;
        color: #fff;
        background: rgba(0,0,0,0.3);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
        right: 5px;
    }

    #top-button:active {
        
        background: rgba(0,0,0,1);

    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em){
    /*Pagina Gracias*/
    #fifth-section {
        min-height: 100% !important;
    }
} /* min-width 641px, medium screens */